.container {
  height: 100%;
  .header-top {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    .logo {
      display: flex;
      align-items: center;
      gap: 10px;
      .category {
        padding-left: 10px;
        font-size: 15px;
        color: #000;
        font-weight: 500;
      }
      img {
        height: 50px;
      }
      .icons {
        display: flex;
        align-items: center;
        gap: 35px;
        position: relative;
        .profile-user {
          display: flex;
          align-items: center;
          gap: 5px;
          img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            border: 1px solid #868686;
          }
          .user-name {
            p {
              font-size: 13px;
              text-decoration: none;
              color: #000;
            }
          }
        }
      }
      Button {
        background-color: #f73859;
        color: white;
        padding: 12px 10px;
        gap: 5px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .icon-plus {
          border: 1px solid #fff;
          border-radius: 50%;
          padding: 1px 2px;
          font-size: 10px;
        }
      }
      button:hover {
        text-decoration: underline;
      }
    }
  }
  .section {
    display: flex;
    width: 100%;
    .sidebar {
      box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1);
      width: 20%;
      padding: 20px;
      height: 92vh;
      background-color: #fff;
      border-right: 1px solid rgba(0, 0, 0, 0.2);

      .icons {
        display: flex;
        align-items: center;
        gap: 35px;
        position: relative;
        .profile-user {
          display: flex;
          align-items: center;
          gap: 5px;
          img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            border: 1px solid #c6c6c6;
            padding: 3px;
          }
          .user-name {
            .name {
              font-weight: 600;
              font-size: 16px;
            }
            p {
              font-size: 13px;
              text-decoration: none;
              color: #000;
            }
          }
        }
      }
      .account-balance-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #fff9e6;
        border: 1px solid #f6e1a8;
        border-radius: 8px;
        max-width: 300px;
        margin: 20px auto;
      }

      .balance-info {
        display: flex;
        flex-direction: column;
      }

      .label {
        font-size: 10px;
        color: #666;
        margin-bottom: 4px;
      }

      .balance {
        font-size: 15px;
        font-weight: bold;
        color: #000;
      }

      .recharge-button {
        display: flex;
        align-items: center;
        background-color: #ffc107;
        border: none;
        border-radius: 20px;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: bold;
        color: #000;
        cursor: pointer;
        transition: background-color 0.3s;
        font-size: 12px;
      }

      .recharge-button:hover {
        background-color: #e0a800;
      }

      .icon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
      .list-menu {
        display: flex;
        flex-direction: column;
        gap: 20px;
        .dropdown {
          display: flex;
          align-items: center;
          gap: 15px;
          font-size: 15px;
          color: #000;
        }
      }
      .btn-logout {
        font-size: 15px;
        display: flex;
        gap: 15px;
        align-items: center;
        color: #000;
      }
    }
    .content {
      width: 80%;
      max-height: 92vh; // Giới hạn chiều cao tối đa
      overflow-y: auto; // Bật cuộn dọc nếu nội dung vượt quá chiều cao
      padding: 20px;
      box-sizing: border-box;

      // Tuỳ chọn: Thêm kiểu cho thanh cuộn
      &::-webkit-scrollbar {
        width: 8px; // Độ rộng của thanh cuộn
      }
      &::-webkit-scrollbar-thumb {
        background: #ccc; // Màu thanh cuộn
        border-radius: 4px; // Bo góc
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #aaa; // Màu khi hover thanh cuộn
      }
    }
  }
}
